In [49]:
import pandas as pd
import numpy as np
import missingno as msno
from loguru import logger
import sqlalchemy

In [2]:
df = pd.read_csv('AB_NYC_2019.csv')

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [6]:
df.shape

(48895, 16)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   host_id                         48895 non-null  int64
 2   neighbourhood_group             48895 non-null  object
 3   neighbourhood                   48895 non-null  object
 4   latitude                        48895 non-null  float64
 5   longitude                       48895 non-null  float64
 6   room_type                       48895 non-null  object
 7   price                           48895 non-null  int64
 8   minimum_nights                  48895 non-null  int64
 9   number_of_reviews               48895 non-null  int64
 10  last_review                     38843 non-null  datetime64[ns]
 11  reviews_per_month               38843 non-null  float64
 12  calculated_host_listings_count  48895 non-null  int64
 13  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(3)
memory usage: 5.2+ MB

## change datatype to datetime

In [13]:
df['last_review'] = pd.to_datetime(df['last_review'])

## Fillna

In [15]:
df['last_review'].max()

Timestamp('2019-07-08 00:00:00')

In [16]:
df['last_review'] = df['last_review'].fillna(df['last_review'].max())

In [18]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [19]:
df.isna().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

## drop the columns

In [11]:
df = df.drop(columns=['name', 'host_name'], axis=1)

In [8]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

## Create a function

In [41]:
def extract_data(file_path):
    logger.info('getting data')
    df = pd.read_csv(file_path)
    logger.info('data is extracted')
    return df

In [42]:
airbnb_df = extract_data('AB_NYC_2019.csv')

2023-10-28 15:21:50.512 | INFO     | __main__:extract_data:2 - getting data
2023-10-28 15:21:51.091 | INFO     | __main__:extract_data:4 - data is extracted

In [45]:
def transform_data(df):
    logger.info(f'shape of data is:{df.shape}')
    
    # remove na for last_review
    df['last_review'] = pd.to_datetime(df['last_review'])
    df['last_review'] = df['last_review'].fillna(df['last_review'].max())
    logger.info(f'removed na from last_review column')

    # remove na for reviews_per_month
    df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
    logger.info(f'removed na from reviews_per_month column')

    # drop columns
    df = df.drop(columns=['name', 'host_name'])
    logger.info(f'removed columns name and host_name')

    return df.head()

In [54]:
clean_data = transform_data(airbnb_df)

2023-10-28 15:42:37.209 | INFO     | __main__:transform_data:2 - shape of data is:(48895, 16)
2023-10-28 15:42:37.238 | INFO     | __main__:transform_data:7 - removed na from last_review column
2023-10-28 15:42:37.252 | INFO     | __main__:transform_data:11 - removed na from reviews_per_month column
2023-10-28 15:42:37.316 | INFO     | __main__:transform_data:15 - removed columns name and host_name

## Load data to postgrsql

In [53]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://andisheh:12345@localhost:5432/airbnb_data')
df.to_sql('airbnb_newyork', engine)

895

In [56]:
def load_data():
    engine = create_engine('postgresql://andisheh:12345@localhost:5432/airbnb_data')
    df.to_sql('airbnb_newyork', engine)
    logger.info('data is loaded in database')